{{#each section.items as |item|}}
  <section>
    <div class="u__left">
      <div class="u__name">
        {{item.name}}
      </div>
      <div class="u__info">
        <span>{{item.brewery_location}}</span>
        <span>{{item.abv}}%</span>
        <span>{{item.style}}</span>
        <span>{{item.ibu}} IBU</span>
      </div>
    </div>
    <div class="u__right">
      {{#each item.containers as |container|}}
        <div class="u__container">
          <div class="u__container-name">
            {{container.container_size.name}}
          </div>
          <div class="u__container-price">
            ${{container.price}}
          </div>
        </div>
      {{/each}}
    </div>
  </section>
{{/each}}
